In [ ]:
# Gonzalo Vazquez - Assignment 1

In [3]:
# Downloading package and installing library
install.packages("nutshell", repos = "http://cran.us.r-project.org")
library(nutshell)

The downloaded binary packages are in
	/var/folders/p6/pr_lgft11kzgnkqwq9136n140000gn/T//RtmpvKb1LV/downloaded_packages

Loading required package: nutshell.bbdb
Loading required package: nutshell.audioscrobbler

In [4]:
# Datasets in the package
data(package="nutshell")

In [5]:
# Load data
data(mort06.smpl)

In [6]:
# Copy data set to local variable
myData <- mort06.smpl

In [44]:
# Write to CSV
write.csv(mort06.smpl,file=".//mydata2.csv", row.names=F)

In [15]:
# Store age into variable
data_age <- c(mort06.smpl$age)

In [20]:
# Generate age mean from dataset -- if it is not a number, remove from calculation
mean(data_age, na.rm=TRUE)

[1] 72.29223

In [21]:
# Generate median age from dataset -- if it is not a number, remove from calculation
median(data_age, na.rm=TRUE)

[1] 77

In [23]:
# Quartile of dataset
quantile(data_age, na.rm=TRUE)

  0%  25%  50%  75% 100%
   0   63   77   86  112

In [25]:
# Generate standard deviation from dataset
sd(data_age, na.rm=TRUE)

[1] 19.00616

In [26]:
# Generate variance from dataset
var(data_age, na.rm=TRUE)

[1] 361.234

In [28]:
# Generate range of age
range(data_age, na.rm=TRUE)

[1]   0 112

In [29]:
# Generate interquartile rage
IQR(data_age, na.rm=TRUE)

[1] 23

In [33]:
# Generate trimmed mean - 15% is ignored
xm <- mean(data_age, na.rm=TRUE)
c(xm, mean(data_age, na.rm=TRUE, trim = 0.15))

[1] 72.29223 75.30324

In [34]:
# Generate contingency table to investigate the relationship between sex and age
print(t <- table(mort06.smpl$Sex, mort06.smpl$Cause))

    Accidents Alzheimer's Disease Cancer Chronic respiratory diseases Diabetes
  F      4362                5167  27275                         6509     3718
  M      8009                2169  29887                         5878     3554

    Heart Disease Homicide Influenza and pheumonia Other Suicide
  F         42993      398                    3153 28381     679
  M         39604     1521                    2674 24585    2557

In [54]:
# Generate percetages with proper margin
prop.table(t, 2)

    Accidents Alzheimer's Disease    Cancer Chronic respiratory diseases
  F 0.3525988           0.7043348 0.4771527                    0.5254703
  M 0.6474012           0.2956652 0.5228473                    0.4745297

     Diabetes Heart Disease  Homicide Influenza and pheumonia     Other
  F 0.5112761     0.5205153 0.2073997               0.5411018 0.5358343
  M 0.4887239     0.4794847 0.7926003               0.4588982 0.4641657

      Suicide
  F 0.2098269
  M 0.7901731